@mixin overlay() {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

#map-view {
  @include overlay();
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  user-select: none;
  touch-action: none;

  .map-container {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    canvas {
      position: absolute;
      cursor: crosshair;
      left: -50%;
      top: -50%;

      &.dragging {
        cursor: grab;
      }
    }

    .gridlines {
      position: absolute;
      pointer-events: none;
      opacity: 0.5;

      > div {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(var(--grid-cols, 4), 1fr);
        grid-template-rows: repeat(var(--grid-rows, 4), 1fr);

        > div {
          position: relative;
          border: 1px solid white;
          text-indent: 0.5rem;
          font-size: 2rem;
        }
      }
    }

    .prefab-pointer {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 0px;
      height: 0px;
      cursor: pointer;
      background-color: rgba(white, 0.1);

      &:hover {
        animation: blink 0.5s infinite alternate;
      }

      @keyframes blink {
        0% {
          background-color: rgba(white, 0.1);
        }
        100% {
          background-color: rgba(red, 0.4);
        }
      }
    }

    .prefab-popover {
      position: absolute;

      .popover {
        position: absolute;
        top: 6px;
        transform: translateX(-50%);
        --bs-popover-max-width: none;
      }

      .popover-arrow {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 1px);
      }
    }
  }

  .crosshair {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: rgb(red, 0.5);
    font-size: 2rem;
    pointer-events: none;
  }

  .scope {
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20000px;
    height: 20000px;
    --scope-scale: 1;
    transform: translate(-50%, -50%) scale(var(--scope-scale));
    fill: rgb(black, 0.2);
    pointer-events: none;
  }

  .metadata {
    z-index: 4;
    position: absolute;
    top: var(--bd-layout-header-height);
    left: 0.5rem;
    opacity: 0.75;
    pointer-events: none;
  }

  .cursor-coords {
    z-index: 4;
    position: absolute;
    left: 50%;
    bottom: 2.5rem;
    transform: translateX(-50%);
    opacity: 0.75;
  }

  .move-map-center {
    z-index: 4;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    opacity: 0.75;
  }

  .scale-changer {
    z-index: 4;
    position: absolute;
    left: 50%;
    bottom: 1rem;
    transform: translateX(-50%);
    width: 200px;
    opacity: 0.75;
  }

  .scale {
    z-index: 4;
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    padding: 0.2rem 0.5rem;
    background-color: rgba(black, 0.5);
    opacity: 0.75;
    line-height: 1rem;
    font-size: 0.8rem;
    display: flex;
    align-items: center;

    label {
      width: 2.5rem;
      text-align: right;
    }

    .ruler {
      margin-left: 0.5rem;
      width: 100px;
      height: 0.5rem;
      content: " ";
      border-left: 1px solid white;
      border-right: 1px solid white;
      border-bottom: 1px solid white;
      opacity: 0.75;
    }
  }
}

#terrain-view {
  @include overlay();
  z-index: 1;
  display: none;
  user-select: none;
  color: var(--bs-body-color);
  background-color: black;

  &.visible {
    display: block;
  }

  canvas {
    width: 100%;
    height: 100%;
    object-fit: contain;

    &:focus {
      outline: none;
    }
  }

  &-hud {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5rem;
    border-radius: var(--border-radius);
  }

  .btn-close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }
}

#loading-overlay {
  @include overlay();
  display: grid;
  place-items: center;
  user-select: none;
  color: var(--bs-body-color);
  background-color: rgba(black, 0.8);
}

#dragdrop-overlay {
  @include overlay();
  display: grid;
  place-items: center;
  user-select: none;
  color: var(--bs-body-color);
  background-color: rgba(black, 0.9);
  z-index: 11;
}

[data-map-state="loading"] {
  cursor: wait;
}

.prefab-image {
  position: relative;
  width: 280px;
  height: 210px;

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}
